.header{
  display: flex;
  padding: 5px;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  box-sizing: border-box;
  background-color: white;
  border-bottom: solid black 1px;
  margin: 0;
}

body{
  margin: 0;
}

.logo-container {
  display: flex;
  flex-grow: 1;
  margin-left: 50px;
}

h1{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  align-items: center;
}

nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header li{
  display: inline-block;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  margin: 0 5px;
}

.header a{
  font-size: 14px;
  font-weight: bold;
}

.major{
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 70px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  width: 1300px;
  margin-bottom: 100px
}

.col{
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
}

.first.col{
  width: 630px;

}

.second.col{
  width: 300px;
}

.third.col{
  width: 240px;
  display: flex;
  flex-direction: column;

}

.mother{
  background-image: url("main.png");
  background-size: cover;
  color: white;
  width: 100%;
  height: 300px;
  font-weight: bold;
  font-size: 40px;
  color:white;
}

.monument{
}

.orca{
  width: 48%;
  padding: 0px;
}

.earth{
  background-image: url("fall.png");
  background-repeat:repeat-x;
  height: 280px;
  font-weight:bold;
  font-size:30px;
  color:white;
  text-align: center;
  width: 48%;
}

.burger{
  width: 48%;
}

.research{
  background-image: url("hipster.png");
  background-repeat: repeat-x;
  height: 280px;
  font-size:30px;
  font-weight:bold;
  color:white;
  text-align: center;
  width: 48%;
}

.fbi{
}

.cats{
  background-image: url("cat.png");
  height: 250px;
  font-size:30px;
  font-weight:bold;
  color:white;
}

.brooklyn{
}

.cookies{
}

.cookies img{
  width: 100%;
}

.news{
  margin: 0;
}

.cat{
  margin:0;
  border-bottom: solid black 1px;
  background-color:WhiteSmoke;
  font-family: Verdana;
  font-size:12px;
  color:DimGray;
}

.buy{
  margin: 0;
  border-bottom: solid black 1px;
  background-color:WhiteSmoke;
  font-family: Verdana;
  font-size:12px;
  color:DimGray;
}

.home{
  margin: 0;
  border-bottom: solid black 1px;
  background-color:WhiteSmoke;
  font-family: Verdana;
  font-size:12px;
  color:DimGray;
}

.advertising{
  margin: 0;
  border-bottom: solid black 1px;
  background-color:WhiteSmoke;
  font-family: Verdana;
  font-size:12px;
  color:DimGray;
}

.illustration{
  margin: 0;
  border-bottom: solid black 1px;
  background-color:WhiteSmoke;
  font-family: Verdana;
  font-size:12px;
  color:DimGray;
}

.finally{
  margin: 0;
  border-bottom: solid black 1px;
  background-color:WhiteSmoke;
  font-family: Verdana;
  font-size:12px;
  color:DimGray;
}

.title{
  font-size: 20px;
  font-weight: bold;
}

.smaller-title{
  font-weight: bold;
  font-size: 16px;
}

.left-bottom{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.l-col{
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  height: 250px;
}

.footer{
  display: flex;
  height: 200px;
  background-color: MediumAquamarine;
  margin: auto;
  width: 100%;
  font-family: Verdana;
  font-size: 12px;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

.f-line{
  display: flex;
}

.l-line{
  display: flex;
}

.footer li{
  display:inline-flex;
  margin: 5px;
  color: black;
}

.f-title{
  font-family:Georgia;
  font-size:16px;
  font-weight: bold;
  color:white;
}
