.header{
  display: flex;
  padding: 5px;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  box-sizing: border-box;
  background-color: white;
  border-bottom: solid black 1px;
  margin: 0;
}

.logo-container {
  display: flex;
  flex-grow: 1;
  margin-left: 50px;
}

h1{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  align-items: center;
}

nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header li{
  display: inline-block;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  margin: 0 5px;
}

.major{
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 70px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  width: 1300px;
}

.col{
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
}

.first.col{
  width: 630px;

}

.second.col{
  width: 300px;
}

.third.col{
  width: 240px;
}

.mother{
  background-image: url("main.png");
  background-size: cover;
  color: white;
  width: 100%;
  height: 300px;
  font-weight: bold;
  font-size: 40px;
  color:white;
}

.monument{
}

.orca{
  width: 45%;
  padding: 0px;
}

.earth{
  background-image: url("fall.png");
  background-repeat:repeat-x;
  height: 280px;
  font-weight:bold;
  font-size:30px;
  color:white;
  text-align: center;
  width: 45%;
}

.burger{
  width: 45%;
}

.research{
  background-image: url("hipster.png");
  background-repeat: repeat-x;
  height: 280px;
  font-size:30px;
  font-weight:bold;
  color:white;
  text-align: center;
  width: 45%;
}

.fbi{
}

.cats{
  background-image: url("cat.png");
  height: 250px;
  font-size:30px;
  font-weight:bold;
  color:white;
}

.brooklyn{
}

.cookies{
}

.cookies img{
  width: 100%;
}

.news{
}

.title{
  font-size: 20px;
  font-weight: bold;
}

.smaller-title{
  font-weight: bold;
  font-size: 18px;
}

.left-bottom{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.l-col{
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  height: 250px;
}
